<h1>Add Event</h1>

<form method="post">
    <label for="name">Event name:</label>
    <input name="name" type="text" placeholder="Event Name Here..."/>
    <label for="description">Event description:</label>
    <input name="description" type="text" placeholder="Event Description Here..."/>
    <input type="submit" value="Add Event" />
</form>
