<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add</a>
    <br />
    <partial name="/Views/Shared/_LinkListPartial.cshtml" />
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<ul>
    @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
    {
        <li>@meeting</li>
        @*<li>@meeting.Key</li>*@
    }
</ul>