<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add</a>
    <br />
    <partial name="/Views/Shared/_LinkListPartial.cshtml" />
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

@*<ol>
    @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
    @foreach (var evt in ViewBag.events)
    {
        <li>@evt.Name</li>

        <li>@meeting.Key</li>
    }
</ol>*@
<table class="table">
    <tr>
        <th>Event Name</th>
        <th>Event Description</th>
    </tr>
    @foreach (var evt in ViewBag.events)
    {
        <tr>

            <td>@evt.Name</td>
            <td>@evt.Description</td>
            
        </tr>
    }
    </table>